.content {
    margin: 40px 20rem;
}

.header-title {
    margin: 0 20rem;
}

.form-element {
    align-items: center;
    margin: 24px 0;
}

.element-label{
    font-weight: bold;
}

.btn-submit{
    float: right;
}

.hasil-hitung {
    margin-top: 60px;
}
